---
import { parse, compareDesc } from 'date-fns'
import { getCollection  } from 'astro:content';

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { postToUrlComponents } from '../../lib/utils';

const posts = (await getCollection('blog')).sort(
	(a, b) => compareDesc(parse(a.data.date, 'dd/MM/yyyy', new Date()), parse(b.data.date, 'dd/MM/yyyy', new Date())) ,
);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>
	<body>
		<Header />
		<main class="container">
			<div class="main">
				<section class="postlist">
					{
						posts.map((post) => {
							const { year, month, dateStr, date, title } = postToUrlComponents(post)
								
							return (
								<div>
									<a href={`/${year}/${month}/${dateStr}/${title}.html`}>
										<h4 class="title">{post.data.title}</h4>
									</a>
									<p class="date">
										<FormattedDate date={date} />
									</p>
								</div>
							)})
						}
				</section>
			</div>
		</main>
		<Footer />
	</body>
</html>
